<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> <ion-back-button></ion-back-button> </ion-buttons>
    <ion-title>{{ peripheral.name || 'Device' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="primary">

  <ion-card>
    <ion-card-header>
      {{ peripheral.name || 'Unnamed' }}
    </ion-card-header>
    <ion-card-content>
      {{ peripheral.id }}
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label>{{ statusMessage }}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>
