<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <p align="center">Create Your Lobby !</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
<ion-item>
  <ion-input required type="text" placeholder="ID" [(ngModel)]="lobby.userId"></ion-input>
</ion-item>
  <ion-item>
    <ion-input required type="text" placeholder="Lobby Name" [(ngModel)]="lobby.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="password" placeholder="Password" [(ngModel)]="lobby.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="text" placeholder="Description" [(ngModel)]="lobby.description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type="number" placeholder="Max users" [(ngModel)]="lobby.allowedUsers"></ion-input>
  </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveLobby()" [routerLink]="['/post-log/tabs/joinLobby' + lobbyId]" class="ion-submit-button" >Save Lobby</ion-button>
</ion-content>
