ion-content {
  //--background: url('../img/musiclobby.png');
  --ion-background-color: #7C7287;
}
ion-toolbar{
  --background: #9DC0BC;
  --font-color: #B2EDC5;
}

ion-item{
  color:#C1FFF2
}
.text {
  color: #C1FFF2
}

.ion-fancy-button {
  --background: #B2EDC5;
}
