ion-content {
  //--background: url('../img/musiclobby.png');
  --ion-background-color: var(--ion-color-primary);
}
ion-toolbar{
  --background: var(--ion-color-secondary);
  --font-color: var(--ion-color-tertiary);
}

ion-item{
  color: var(--ion-color-tertiary);
}
.text {
  color: var(--ion-color-tertiary);
}

.ion-fancy-button {
  --background: #B2EDC5;
}
