ion-content {
  justify-content: center;
}
ion-toolbar{
  --background: #9DC0BC;
  --font-color: #B2EDC5;
}
ion-row {
  width: 100%;
  //--ion-background-color: #B2EDC5;
  //--ion-background-color: rgba(0, 0, 0, 0.85);
  opacity: 0.7;
}
ion-header{
  --ion-background-color: #cbbaff
}
ion-button{
  --ion-background-color: #EC14BE;
}
ion-label{
  color: #f4f5f8;
}
.text {
  color: #fff7f4
}
.my-grid {
  height: 100%;
  width: 60%;
  //background-color: rgba(0, 0, 0, 0.85);
  horiz-align: center;
  vertical-align: center;
}
.alert {
  --ion-background-color: #7C7287;
}
.note-background{
  --ion-background-color:rgba(0, 0, 0, 0.85);

}

