ion-content {
  --background: url('../../assets/img/musicbg.png');
}
ion-grid {
  --background: #ffdad8;
}
ion-row {
  --ion-background-color: #cbbaff;
  opacity: 0.7;
}
ion-header{
  --ion-background-color: #cbbaff
}
