
<ion-content padding="0px" color="medium">
  <ion-title align="center"><img src="../assets/img/music_mates_logo.png" width="50%" height="30%" align="center"></ion-title>
  <form padding="0px" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid align="center" class="my-grid">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item class="text" color="primary" class="animated fadeInLeft delay-{{1}}s #itemlist">
            <ion-label position="floating" class="text">Email</ion-label>
            <ion-input type="email" ngModel id="id_email" name="email" required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item class="text" color="primary" class="animated fadeInLeft delay-{{2}}s #itemlist">
            <ion-label position="floating" class="text">Password</ion-label>
            <ion-input type="password" ngModel id="id_password" name="password" required minlength="6" #passCtrl="ngModel"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-md="6" offset-md="3">
        <ion-button type="button" color="tertiary" fill="clear" expand="full" (click)="onSwitchAuth()">Switch to {{ isLogin ? 'Signup' : 'Login' }}</ion-button>

        <ion-button type="submit" color="tertiary" expand="full" [disabled]="!f.valid" class="text">
          {{ isLogin ? 'Login' : 'Signup'}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>
