ion-content {
  --ion-background-color: #7C7287;
  justify-content: center;
}
ion-toolbar{
  --background: #9DC0BC;
  --font-color: #B2EDC5;
}
ion-row {
  width: 100%;
  --ion-background-color: #B2EDC5;
  opacity: 0.7;
}
ion-header{
  --ion-background-color: #cbbaff
}
ion-button{
  --ion-background-color: #C1FFF2;
}
.text {
  color: #C1FFF2
}
.my-grid {
  --ion-grid-padding: 2px;
  border-radius: 2px;
  height: 100%;
  width: 60%;
  background-color: #B2EDC5;
  justify-content: center;
}
.alert {
  --ion-background-color: #7C7287;
}

