.text {
  color: #fff7f4;
  --ion-background-color: var(--ion-color-primary);
}
ion-row{
  background-color: var(--ion-color-primary);
}
ion-list{
  background-color: transparent
}
ion-col {
  background-color: var(--ion-color-primary);
}
