<ion-header>
  <ion-toolbar color="secondary">
  </ion-toolbar>
  <ion-searchbar no-padding color='danger' [(ngModel)]="searchKey" (keyup.enter)="getSongBySearch()" placeholder="Search Youtube for songs..." class="form-control">
  </ion-searchbar>
</ion-header>

<ion-content color="primary">
<!--  <form #f="ngForm" (ngSubmit)="onSubmit(f)">-->
<!--  <p>Search for a song you want to add</p>-->
<!--    <ion-item>-->
<!--      <ion-label position="floating">Name</ion-label>-->
<!--      <ion-input ngModel id="id_name" name="name" required [(ngModel)]="vid"></ion-input>-->
<!--    </ion-item>-->

<!--&lt;!&ndash;    <ion-button (click)="authWithSpotify()">Login with Spotify</ion-button>&ndash;&gt;-->

<!--  <ion-button type="submit" (click)="sanitizeVid(vid)">Play</ion-button>-->
<!--  </form>-->
<!--  <iframe width="100%" height="50%" [src]="sanitizeVid(yt)" frameborder="0"></iframe>-->
<!--  <ion-card>-->
<!--    <ion-card-header>-->
<!--      <ion-card-title>-->
<!--      </ion-card-title>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content>-->
<!--      <iframe src="https://www.youtube.com/embed" style="width: 100%; height: 70vh;"></iframe>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->

  <ion-list>
    <ion-item-sliding *ngFor="let video of response.items">
      <ion-item (click)="playVideo(video.snippet.title, video.id.videoId, video.id.channelId)" class="text">
        <img [src]="video.snippet.thumbnails.default.url" alt="">
        <ion-col >{{ video.snippet.description}}</ion-col>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="secondary" (click)="addSong(video.id.videoId, video.snippet.title)">
          <ion-icon slot="bottom" name="add-outline"> </ion-icon>
          Add
        </ion-item-option>
        <ion-item-option color="secondary" (click)="playVideo(video.snippet.title, video.id.videoId, video.id.channelId)">
          <ion-icon slot="bottom" name="play-outline"> </ion-icon>
          Play
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
