ion-content {
  --ion-background-color: #f8de7e;
}
ion-toolbar {
  background-color: #f8de7e;
  color: #f8de7e;
}
ion-header {
  color: #f8de7e;
  background-color: #f8de7e;
}
ion-item-sliding {
  border: #f4f5f8;
  border-bottom-width: 3px;
  border-bottom: 3px;
  border-radius: 3px;

  --border-width-top: 3px;
  --border-width-right: 3px;
  --border-width-bottom: 3px;
  --border-width-left: 3px;
}
ion-item {
  border: #f4f5f8;
  --border-width-top: 3px;
  --border-width-right: 3px;
  --border-width-bottom: 3px;
  --border-width-left: 3px;
}
.text {
  color: #fff7f4;
  --ion-background-color: rgba(0, 0, 0, 0.85);
  padding: 2px;
}
