ion-item {
  border: #f4f5f8;
  padding: 3px;
}
ion-list {
  background-color: #f8de7e;
}

ion-item-sliding {
  padding: 3px;
}
ion-item-option {
  padding: 3px;
}

.text {
  color: #fff7f4;
  --ion-background-color: rgba(0, 0, 0, 0.85);
  padding: 2px;
}
