ion-content {
  --ion-background-color: var(--ion-color-primary);
}
ion-list {
  background-color: var(--ion-color-primary-rgb);
}
ion-item {
  padding: 8px;
}
.button-clear {
  background-color: transparent;
  opacity: 0.5;
}
.text {
  color: rgba(0, 0, 0, 0.85);
  --ion-background-color: rgba(0, 0, 0, 0.85);
}

