.message {
  padding: 10px;
  border-radius: 10px;
  border-color: #1e2023;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
.button-row {
  width: 100%;
  justify-items: center;
  align-items: center;
}

ion-row{
  align-items: end;
  width: 100%;
  justify-items: right;
  vertical-align: bottom;
}
.play-row {
  width: 100%;
  justify-items: center;
}
ion-content {
  //--background: url('../img/musiclobby.png');
  --ion-background-color: #7C7287;
}

ion-toolbar{
  --background: var(--ion-color-secondary);
}
.second-bar {
  background: transparent;
}

ion-footer {
  background-color: var(--ion-color-secondary);
}

.other-user {
  backround: var(--ion-color-tertiary);
  background-color: #7e57ff;
  color: #fff;
}

.my-message {
  backround: var(--ion-color-secondary);
  background-color: #0cd1e8;
  color: #fff;
  width: 20px;
}
ion-grid{
  width: 100%;
  height: 50%;
  vertical-align: 80%;
}
.second-grid {
  align-items: flex-end;
  height: 50px;
}
.grid-temp{
  alignment: bottom;
  vertical-align: bottom;
}
.time {
  color: #989aa2;
  font-size: small;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}

.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #f4f5f8;
  resize: none;
  padding-left: 20px;
  padding-right: 10px;
}
#cart-badge {
  background-color: red;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}
.fixed[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.fixed[scrollx=true] {
  overflow-x: auto;
}

.fixed[scrolly=true] {
  overflow-y: auto;
}

ion-list {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
}
.your-class {
  position: relative;
  left: 10%;
  right: 10%;

}
.prevIcon
{
  color: rgb(71, 67, 67);
}

#player {
  width: 100%;
  height: 390px;
}
