<ion-header xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar color="secondary">
    <ion-title>{{tempLobby?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
    <ion-button (click)="this.lobbyStatus()">{{isJoined ? 'Leave Lobby' : 'Join Lobby'}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [scrollEvents]="true">
  <div class="video-container">
    <p align="right">
    <iframe align="right" width="100%" height="38%" [src]="sanitizeVidId(this.tempLobby.currentSong)"></iframe>
    </p>
  </div>
    <div style="height: 30%"></div>
    <ion-grid align="center" padding-top="0px" style="height: 30%;">
        <ion-row>
            <ion-col style="width: 50%">
                <ion-button align="right" style="width: 100%" (click)="goToPrevVideo()">
                    Prev
                    <ion-icon slot="end" name="caret-back-circle"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col style="width: 50%;">
                <ion-button align="right" style="width: 100%;" (click)="goToNextVideo()">
                    Next
                    <ion-icon slot="end" name="battery-dead-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

<!--    <div style="height: 25%"></div>-->
<ion-grid align="bottom">
    <ion-row *ngFor="let message of allMessages">
      <ion-col size="9" *ngIf="currentUser.getValue().email !== message.sentBy && this.activatedRoute.snapshot.paramMap.get('id') === message.lobbyId" text-wrap class="message other-user">
        <b>{{ message.sentBy }}</b>
        <span> {{message.msgContent }}</span>
        <div class="time" text-right> {{ message.time | date:'short' }} </div>
      </ion-col>

      <ion-col size="9" offset="3" *ngIf="currentUser.getValue().email === message.sentBy && this.activatedRoute.snapshot.paramMap.get('id') === message.lobbyId" class="message my-message">
        <b>{{ message.sentBy }}</b>
        <span> {{message.msgContent }}</span>
        <div class="time" text-right> {{ message.time | date:'short'}} </div>
      </ion-col>
    </ion-row>
</ion-grid>

<!--  <ion-list>-->
<!--    <ion-item *ngFor="let item of playlist.songs">-->
<!--      <ion-col (click)="playUserSongs(item)">-->
<!--        <ion-label>-->
<!--          Label: {{item}}-->
<!--        </ion-label>-->
<!--      </ion-col>-->
<!--    </ion-item>-->
<!--  </ion-list>-->

    <!--  <ion-button  align="right"(click)="checkUserJoined()">Check</ion-button>-->
<!-- <ion-icon name="checkmark-circle">{{ joined ? 'Joined' : 'Not Joined'}}</ion-icon>-->
<!--  <ion-buttons>-->
<!--    <ion-button expand="block"  fill="clear" color="primary" (click)="authWithSpotify()">-->
<!--      <ion-icon name="send" slot="icon-only"></ion-icon>-->
<!--    </ion-button>-->
<!--  </ion-buttons>-->
<!--  <ion-button (click)="viewSongs()">load</ion-button>-->

<ion-button (click)="openAVideo()"> video </ion-button>

    <ion-list>
      <ion-row *ngFor="let device of devices">
        <ion-item (click)="deviceSelected(device)">
         <ion-label>
        {{ device.name}}
        {{ device.name || 'Unnamed'}}
        {{ device.id }}
        RSSI: {{ device.rssi }}
      </ion-label>
      </ion-item>
      </ion-row>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row align-items-left no-padding>
      <ion-col size="11">
        <textarea autosize maxRows="3" [(ngModel)]="newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="1">
        <div class="ion-text-end">
          <ion-buttons>
            <ion-button expand="block"  fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
              <ion-icon name="send" slot="icon-only" align="right"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </ion-col>
    </ion-row>
    <ion-button color="secondary" padding-end="20%" slot="end" (click)="loadSongs()">
      <div><ion-icon name="cloud-done"></ion-icon></div>
    </ion-button>
    <ion-button color="secondary" padding-end="20%" slot="end" routerLink="/playlist">
      <div><ion-icon name="add-circle-outline"></ion-icon></div>
    </ion-button>
    <ion-button color="secondary" padding-end="20%" slot="end" (click)="Scan()">
      <div><ion-icon name="bluetooth-sharp"></ion-icon></div>
    </ion-button>
  </ion-toolbar>
</ion-footer>
