<ion-header xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title text-left>{{tempLobby?.name}}</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="this.lobbyStatus()">{{isJoined ? 'Leave Lobby' : 'Join Lobby'}}</ion-button>
    <ion-button (click)="this.viewLobbyUsers()">View Users<ion-icon name="people"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" [scrollEvents]="true">

    <iframe align="right" width="100%" height="42%" [src]="this.url" allowfullscreen></iframe>

    <div style="height: 38%"></div>
    <ion-grid align="center" style="height: 15%;">
        <ion-row>
            <ion-col style="width: 25%">
                <ion-button align="right" color="secondary" style="width: 100%" (click)="goToPrevVideo()">
                    Prev
                </ion-button>
            </ion-col>
            <ion-col style="width: 25%;">
                <ion-button align="right" color="secondary" style="width: 100%;" (click)="goToNextVideo()">
                    Next
                </ion-button>
            </ion-col>
            <ion-col style="width: 25%">
                <ion-button color="secondary" style="width: 100%;" (click)="getLobbySongs()">
                    <ion-icon name="musical-notes"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col style="width: 25%">
                <ion-button color="secondary" style="width: 100%;" (click)="openAVideo()">
                    <ion-icon slot="icon-only" name="tv"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
<!--    <ion-button (click)="makeReady()">Start</ion-button>-->
    <div style="height: 6%"></div>
<ion-grid align="bottom">
    <ion-row *ngFor="let message of allMessages">
      <ion-col size="9" *ngIf="currentUser.getValue().email !== message.sentBy && this.activatedRoute.snapshot.paramMap.get('id') === message.lobbyId" text-wrap class="message other-user">
        <b>{{ message.sentBy }}</b>
        <span> {{message.msgContent }}</span>
        <div class="time" text-right> {{ message.time | date:'short' }} </div>
      </ion-col>

      <ion-col size="9" offset="3" *ngIf="currentUser.getValue().email === message.sentBy && this.activatedRoute.snapshot.paramMap.get('id') === message.lobbyId" class="message my-message">
        <b>{{ message.sentBy }}</b>
        <span> {{message.msgContent }}</span>
        <div class="time" text-right> {{ message.time | date:'short'}} </div>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row align-items-left no-padding>
      <ion-col size="11">
        <textarea autosize maxRows="3" [(ngModel)]="newMsg" class="message-input" (keyup.enter)="sendMessage()" (keydown.enter)="sendMessage()"></textarea>
      </ion-col>
      <ion-col size="1">
        <div class="ion-text-end">
<!--          <ion-buttons>-->
<!--            <ion-button expand="block"  fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">-->
<!--              <ion-icon name="send" slot="icon-only" align="right"></ion-icon>-->
<!--            </ion-button>-->
<!--          </ion-buttons>-->
        </div>
      </ion-col>
    </ion-row>
    <ion-button color="secondary" padding-end="20%" slot="end" (click)="loadSongs()">
      <div><ion-icon name="download"></ion-icon></div>
    </ion-button>
    <ion-button color="secondary" padding-end="20%" slot="end" routerLink="/playlist">
      <div><ion-icon name="add-circle-outline"></ion-icon></div>
    </ion-button>
      <ion-button color="secondary" padding-end="20%" slot="end" (click)="openBLEModal()">
          <div><ion-icon name="wifi"></ion-icon></div>
      </ion-button>
  </ion-toolbar>
</ion-footer>
