<ion-header>
  <ion-toolbar>
    <ion-title>Lobby: {{tempLobby?.name}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe width="100%" height="30%" [src]="viewSongs()"></iframe>
<!--  <ion-item>-->
<!--  <ion-label>Lobby Name {{tempLobby?.name}}</ion-label>-->
<!--</ion-item>-->
<!--  <ion-item>-->
<!--    <ion-label>Description {{tempLobby?.description}}</ion-label>-->
<!--  </ion-item>-->
<!--  <ion-button type="round" (click)="checkUserJoined()">Check</ion-button>-->

  <ion-button type="round" (click)="joinLobby()">Join Lobby</ion-button>
  <ion-button type="round" (click)="viewLobbyUsers()">Lobby Users     <ion-badge id="cart-badge">100</ion-badge></ion-button>
  <ion-button type="round">View Your Songs</ion-button>
<!-- <ion-icon name="checkmark-circle">{{ joined ? 'Joined' : 'Not Joined'}}</ion-icon>-->
<!--  <ion-buttons>-->
<!--    <ion-button expand="block"  fill="clear" color="primary" (click)="authWithSpotify()">-->
<!--      <ion-icon name="send" slot="icon-only"></ion-icon>-->
<!--    </ion-button>-->
<!--  </ion-buttons>-->

  <ion-grid>
    <ion-row *ngFor="let message of allMessages">
      <ion-col size="9" *ngIf="currentUser.getValue().email !== message.sentBy && this.activatedRoute.snapshot.paramMap.get('id') === message.lobbyId" text-wrap class="message other-user">
        <b>{{ message.sentBy }}</b>
      <span> {{message.msgContent }}</span>
      <div class="time" text-right> {{ message.time | date:'short' }} </div>
      </ion-col>

      <ion-col size="9" offset="3" *ngIf="currentUser.getValue().email === message.sentBy && this.activatedRoute.snapshot.paramMap.get('id') === message.lobbyId" class="message my-message">
        <b>{{ message.sentBy }}</b>
        <span> {{message.msgContent }}</span>
        <div class="time" text-right> {{ message.time | date:'short'}} </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <textarea autosize maxRows="3" [(ngModel)]="newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2"></ion-col>
      <div class="ion-text-end">
        <ion-buttons>
          <ion-button expand="block"  fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
            <ion-icon name="send" slot="icon-only" align="right" l></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </ion-row>
  </ion-toolbar>
</ion-footer>
