<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Music Mates
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-list>
      <ion-menu-toggle>
      <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item>
      <ion-label>User Details</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="/post-log/tabs/joinLobby">
        <ion-label>View Lobbies</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="/post-log/tabs/createLobby">
        <ion-label>Add Lobby</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item (click)="onLogout()" button>
        <ion-label>Logout</ion-label>
      </ion-item>
      </ion-menu-toggle>
    </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
