<ion-app>
  <ion-menu side="start" menuId="side-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Music Mates
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
    <ion-list>
      <ion-menu-toggle>
      <ion-item>
      <ion-label>User Details</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="/post-log/tabs/joinLobby">
        <ion-label>View Lobbies</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="/post-log/tabs/createLobby">
        <ion-label>Add Lobby</ion-label>
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/playlist">
          <ion-label>Your Playlist</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="authService.user != null">
      <ion-item (click)="onLogout()" button routerLink="/auth">
        <ion-label>Logout</ion-label>
      </ion-item>
      </ion-menu-toggle>
      <ion-item><img src="../assets/img/music_mates_logo.png" width="100%"></ion-item>
    </ion-list>

    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
