ion-content {
  text-align: center;
  --background: url('../img/musiclobby.png');
  //--ion-background-color: #a8c0ff;
}
ion-toolbar{
  --background: #a290ff
}
ion-item {
  opacity: 0.6;
  --ion-background-color: #f09dff
}
ion-row {
  opacity: 0.7;
}
ion-col {
  opacity: 0.7;
}
.bg-trans {
  background: transparent;
}
.font {
  font-size: 2em;
  --font-color: #000000;
}
.fontSecond {
  font-size: 1em;
  --font-color: #000000;
}
ion-slides {
  margin-top: 30%;
}
ion-card {
  width: 80%;
  height: 60%;
  background: #ada9a4;
}
ion-note {
  alignment: left;
  --font-color: #f80a14
}
