<ion-header>
  <ion-toolbar color="secondary">
    <ion-title align="center">Lobby Selection</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <br>
  <br>
  <ion-searchbar [(ngModel)]="this.lobbyName" (keyup.enter)="lobbySearch()" (keydown.enter)="lobbySearch()" class="text"></ion-searchbar>
  <br>
  <ion-button (click)="lobbyManager()">Lobby Manager <ion-icon name="settings"></ion-icon></ion-button>
    <ion-slides [options]="sliderConfig" #ionSlides>
      <ion-slide *ngFor="let item of loadedLobbies">
      <ion-card color="secondary">
        <div align="right" style="color: var(--ion-color-secondary);">
            <button *ngIf="item.userId === this.authService.user.getValue().id" align-items-end clear [ngStyle]="{'background-color':'#EC14BE'}"(click)="removeLobby(item.id)">
                <ion-icon float-right name="close-circle" class="xicon"></ion-icon>
            </button>
        </div>
        <ion-card-header>
          <ion-card-title align="center">
            {{item.name}}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content padding-end="40px">
          <div class="fontSecond">{{item.description}}</div>
          <ion-note color="danger" slot="end">Max Users: {{item.allowedUsers}} </ion-note>
          <ion-button expand="full" align="bottom" (click)="joinLobby(item)">
          Enter Lobby
          </ion-button>
          <ion-icon name="lock-closed-outline" *ngIf="item.password != ''"></ion-icon>
          <ion-icon name="lock-open-outline" *ngIf="item.password === ''"></ion-icon>
          <ion-label></ion-label>
        </ion-card-content>
      </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content>
