<ion-header>
  <ion-toolbar color="secondary">
    <ion-title align="center">{{this.authService.user.getValue().email}}'s Playlist <ion-icon name="headset-outline"></ion-icon> <ion-icon name="albums"></ion-icon></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card-subtitle align="center">Hear you can add songs from your playlist to a lobby you have joined</ion-card-subtitle>
  <ion-card-subtitle align="center">Or Remove songs from your personal playlist</ion-card-subtitle>

  <ion-list>
    <ion-item-sliding *ngFor="let play of allPlaylist">
      <ion-item color="dark" (click)="itemClicked()" *ngIf="play?.userId == this.authService.user.getValue().id">
        <ion-label color="primary" align="center">
          {{play?.name}}
          <ion-row *ngFor="let tev of play?.songs" (click)="openOptions(tev)">
            <ion-label>{{tev?.name}} <ion-icon name="add-circle-outline"></ion-icon></ion-label>
          </ion-row>
        </ion-label>
        <ion-icon name="close-circle-outline" color="primary" class="align" justify-content-end align-items-end (click)="removePlaylist(play)"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list lines="full">
  <ion-label (click)="switchAdd()" color="primary" class="text">Create Playlist <ion-icon name="add-circle-outline"></ion-icon></ion-label>
    <ion-item *ngIf="isCreate" class="text">
      <ion-input required type="text" class="text" placeholder="New Playlist Name" [(ngModel)]="newUserPlaylist.name"></ion-input>
    </ion-item>
    <ion-button *ngIf="isCreate" (click)="getUserPlaylist()">Save</ion-button>
  </ion-list>
</ion-content>
