ion-content {
  --ion-background-color: var(--ion-color-primary);
}
ion-list {
  background-color: var(--ion-color-primary-rgb);
}
ion-item {
  padding: 8px;
  background: transparent;
}
ion-item-sliding {
  padding: 8px;
}
.text {
    color: #fff7f4;
  background: transparent;
}
