ion-item {
  border: #f4f5f8;
  --border-width-top: 3px;
  --border-width-right: 3px;
  --border-width-bottom: 3px;
  --border-width-left: 3px;
}
.text {
  color: #fff7f4;
}
ion-list {
 background: transparent;
}
